<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
    <meta name="description" content="İngilizce test">
    <meta name="keywords" content="İngilizce Türkçe test,Yokdil,YDS,İngilizce,Test,İngilizceni test et,Soru uygulaması">
    <meta name="author" content="bparlak">
    <link rel="shortcut icon" type="image/png" href="~/img/favicon.png">
    <title>Kendini test et</title>
    <link href="~/css/bootstrap.min.css" rel="stylesheet" />
    <link href="~/css/style.css" rel="stylesheet" />
</head>
<body>
    <div>
        @RenderBody()
    </div>
    <div class="card-footer text-center col-md-12 mt-4">
        <a class="btn btn-sm btn-outline-primary border-0" href="http://bparlak.com" target="_blank">developed by bparlak</a>
    </div>
    <script src="~/js/jquery-3.3.1.min.js"></script>
    <script src="~/js/bootstrap.min.js"></script>
</body>
</html>
